@using Birlik_Mobile.Components.Layout
@inherits LayoutComponentBase
@inject Birlik_Mobile.Services.AuthService AuthService
@inject NavigationManager NavManager

<div class="app-shell">
    <main class="content-area">
        @Body
    </main>

    @if (AuthService.CurrentUser != null)
    {
        <div class="floating-nav-container">
            <NavMenu />
        </div>
    }
</div>
