<Router AppAssembly="@typeof(Birlik_Mobile.Components.Pages.App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
    </Found>
    <NotFound>
        <p>Página no encontrada</p>
    </NotFound>
</Router>
